@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --darkpurple: #1F2041;
    --purple: #4B3F72;
    --darkpink: #75474D;
    --lightpink: #E9D2C0;
    --pinkwhite: #FBF9FF; 
}

body {
    background-color: var(--lightpink);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    font-family: 'Montserrat';
}

.title {
    background-color: var(--darkpink);
    height: 28vh;
    margin-bottom: 8vh;
    box-shadow: -1px 6px 14px 0px rgba(0,0,0,0.4);
    -webkit-box-shadow: -1px 6px 14px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: -1px 6px 14px 0px rgba(0,0,0,0.4);
}

h1 {
    color: var(--pinkwhite);
    text-align: center;
    padding-top: 10vh;
    font-size: 2.5rem;
    font-weight: 600;
}

#options {
    display: grid;
    grid-template-areas: 
    'a b'
    'c d';
    align-items: center;
    justify-content: center;
}

.cadastrar-btn {
    border: none;
    border-radius: 5px;
    background-color: #75474D;
    color: #FBF9FF;
    height: 8vh;
    width: 15vw;
    font-size: 1.3rem;
    margin-top: 5vh;
    align-self: center;
}

.cadastrar-btn:hover {
    cursor: pointer;
    background-color: #AA767C;
}
a {
    text-decoration: none;
    width: 20vw;
    aspect-ratio: 4/1;
    background-color: var(--darkpink);
    color: var(--pinkwhite);
    margin: 4vh 4vw;
    border-radius: 15px;
    align-self: center;
    font-size: 1.3rem;
    line-height: 5rem;
    text-align: center;
}

a:hover {
    background-color: #AA767C;
}

.two-columns {
    display: flex;
}

.dados {
    width: 50vw;
    display: flex;
    flex-direction: column;
}

.dados input[type="text"], .dados input[type="date"], .dados input[type="number"]  {
    width: 30vw;
    align-self: center;
    height: 5vh;
    border: solid 1px #E9D2C0;
    border-bottom: solid 1px #75474D;
    border-radius: 3px;
    background-color:#E9D2C0;
    margin-top: 2vh;
    color: #75474D;
    font-family: 'Montserrat';
    font-size: 1rem;
    font-weight: 600;
}

.dados input:active, .dados input:focus {
    outline: none;
}

.dados input::placeholder {
    color: #AA767C;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 1rem;
}

#title-cadastro {
    margin-bottom: 6vh;
}

h2 {
    color: #75474D;
    font-weight: 600;
    font-size: 2rem;
    text-align: center;
}

.inline {
    display: flex;
    padding-left: 7vw;
    margin-bottom: 10vh;
}

.inline select {
    width: 30vw;
    text-align: center;
    border: solid 2px #aca094;
    border-radius: 5px;
    background-color: #FBF9FF;
    font-family: 'Montserrat';
    font-weight: 500;
    height: 7vh;
    font-size: 1rem;
    color: #75474D;
}

.inline select:focus {
    outline: none;
}

.inline h2 {
    margin-right: 7vw;
}

.inline input {
    accent-color:var(--darkpink);
}

.inline label {
    line-height: 2.1rem;
    margin: 0 4vw 0 1vw;
    font-weight: 500;
    font-size: 1.1rem;
    color: #75474D;
}

input[type=checkbox], input[type=radio] {
    transform: scale(1.5);
}

#finalizar {
    margin-left: 42.5vw;
    margin-top: 0;
}

.center {
    margin-left: 25vw;
}

.produto {
    background-color: #75474D;
    color: #FBF9FF;
    height: 8vh;
    width: 15vw;
    border-radius: 5px;
    font-size: 1.3rem;
}

#fim-title {
    color: #75474D;
    margin-top: 30vh;
}

#main-produtos {
    display: flex;
    align-items: center;
}

table {
    border: 2px solid #75474D;  
    align-self: center;
    width: 60vw;
    margin-left: 20vw;
    text-align: center;
    background-color: #FBF9FF;
}

td, th {
    border: 1px solid #75474D;
    height: 5vh;
    vertical-align: middle;
}

th {
    font-weight: 600;
}

#produtos-body {
    overflow: visible;
}

.right-column {
    width: 50vw;
    display: flex;
    flex-direction: column;
    padding-left: 5vw;
    align-items: center;
    height: 100%;
}

.forms-produto {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#produtos-table {
    width: 50vw;
    margin-left: 3vw;
}

.produtosBtn {
    width: 20vw;
    height: 11vh;
    background-color: #75474D;
    color: #FBF9FF;
    border: none;
    border-radius: 10px;
    margin-bottom: 5vh;
    font-family: 'Montserrat';
    font-size: 1.2rem;
}

.produtosBtn:hover {
    cursor: pointer;
    background-color: #AA767C;
}

.forms-produto label {
    width: 100%;
}

.forms-produto input {
    padding-left: 1vw;
    width: 20vw;
    border: none;
    height: 5vh;
    border-radius: 5px;
    background-color: #FBF9FF;
    color: #75474D;
    font-family: 'Montserrat';
    margin-top: 2vh;
}

#atualizar {
    border: solid 2px #75474D;    
    font-weight: 600;
    width: 15vw;
    height: 6vh;
    margin-left: 14vw;
    padding-left: 0;
    margin-bottom: 2vh;
}

#atualizar:hover {
    cursor: pointer;
    color: #FBF9FF;
    background-color: #AA767C;
}

#deletar {
    border: solid 2px #75474D;    
    font-weight: 600;
    width: 15vw;
    height: 6vh;
    padding-left: 0;
}

#deletar:hover {
    cursor: pointer;
    color: #FBF9FF;
    background-color: #AA767C;
}
